doctype html
html
  head
    title= 'Jay'
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') Jay

    .wrap(style="padding-top: 15px;")
      .container
        .row
          .span8
            block content
          .span4
            .well.sidebar-nav
              .nav-header 
                a(href='/tags') TAGS
              - each tag in getTags()
                a(href=tagURL(tag)) #{tag}
                |  

