extends layout

block content
  div.post(style='margin-bottom: 30px;')
    h1
      a(href=post.url)
        = post.title
    span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
    div.post.content
      != post.content
    div.tags
      - each tag in post.tags
        a(href=tagUrl(tag) style='margin-right: 5px;')
          span.label.label-info #{tag}
